[Unit]
Description=Telnet server to access the orksec drone menu
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/tcpserver -c 10 -HR -u 0 -g 0 0.0.0.0 1337 /root/Ork-Drone/System-Services/TELNET_Server.sh 

[Install]
WantedBy=multi-user.target
